.search-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 10px;
  width: 300px;
  background-color: white;
}

.search-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
}

.search-icon {
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
}

.search-icon:hover {
  color: black;
}

@media (min-width: 700px) {
  .search-container {
    position: relative;
    top: -10px;
    left: 0;
  }
}

@media (min-width: 1300px) {
  .search-container {
    position: relative;
    top: 44px;
    left: -320px;
  }
}
